{% extends 'base.html.twig' %}

{% block title %}Hello LoginController!{% endblock %}

{% block body %}
    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <div class="container mt-5" style="max-width: 500px">
        <div class="card">
            <div class="card-header">
                Login
            </div>
            <div class="card-body">
                <form method="post">
                    <div class="form-group">
                        <label>Email</label>
                        <input type="text" class="form-control" name="_username"
                               placeholder="Enter email"
                               required
                        >
                    </div>
                    <div class="form-group mt-2">
                        <label>Password</label>
                        <input type="password" class="form-control" name="_password"
                               placeholder="Enter password"
                               required
                        >
                    </div>

                    <div class="mt-2">
                        <button type="submit" class="btn btn-primary">Login</button>
                    </div>

                    or
                    <br>
                    <a href="{{ path('app_register') }}">Register</a>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
